{%extends 'base.html'%}
{%block meta%}
<link rel="stylesheet" type="" href="home.css">
{%endblock%}
{% block element %}
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="btn-group-vertical" id="btnv">
					
					
					<a href="../exam/" class="btn">Exam</a>
					<a href="../test/" class="btn">Test</a>
					<a href="../score/" class="btn">Scores</a>
					
				</div>
				
			</div>
			<div class="col-md-10">
				
				{% for room in classrooms %}
					<br><div class="card" style="width: 9rem; padding-left=9rem;">
						<div class="card-body">
							<a href="/classroom/{{room.id}}/" class="card-link">{{room.standard}} {{room.section}} </a>
						</div>
					</div><br>
					
				{% endfor %}
				
			</div>
		</div>
	</div>
	{%endblock%}