{%extends 'base.html'%}
{% block element %}
	{% for room in classrooms %}
		<br><div class="card" style="width: 9rem; padding-left=9rem;">
			<div class="card-body">
				<a href="/classroom/{{room.id}}/" class="card-link">{{room.standard}} {{room.section}} </a>
			</div>
		</div><br>
		<a class="btn btn-primary" href="" role="button">Link</a><br>
		<a class="btn btn-primary" href="#" role="button">Link</a><br>
		<a class="btn btn-primary" href="#" role="button">Link</a><br>
		<a class="btn btn-primary" href="#" role="button">Link</a><br>
		<a class="btn btn-primary" href="#" role="button">Link</a><br>
		<a class="btn btn-primary" href="#" role="button">Link</a><br>
		<a class="btn btn-primary" href="#" role="button" style="padding: 5px 10px;">Link</a><br>
	{% endfor %}
	{%endblock%}