{%extends 'base.html'%}
{%block auth%}
<div class="col-md-4" style="padding:50px">
	<form action="/score/" method="POST">
		{% csrf_token %}
		<label>Select Exam</label>
		<select name="exam" class="form-control">
			{% for examname in exam %}
				<option value="{{examname.id}}">{{examname}}</option>
			{% endfor %}
		</select><br>
		<label>Select Test</label>
		<select name="test" class="form-control">
			{% for room in classrooms %}
				{% for u in subject %}
					<option value="{{u.id}}">{{u}} {{room.standard}} {{room.section}}</option>
				{% endfor %}
			{% endfor %}
		</select><br>
		<label>Select Student</label>
		<select name="student" class="form-control">
			
			{% for student in students%}
				<option value="{{student.id}}">{{student}} </option>
			{% endfor %}
		</select><br>
		<label>Enter marks</label><br>
		
		
		<input type="number" class="form-control" placeholder="Enter the marks" name='marks' required><br>
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<input class="btn btn-primary" type="submit" name="submit"></input>
					<a class="btn btn-primary" href="/dashboard/" role="button">Home</a><br>
					
					
				</div>
			</div>
		</div>
	</form>
</div>
{%endblock%}